.container {
  composes: animationFadein mr16 mb24 from global;
  width: 100%;
  padding: 0px;
  height: 316px;
  margin-right: 16px;
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(51,51,51, 0.9);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

@keyframes :global(fadein) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}