.container {
  composes: inlineBlock mb24 mr16 from global;
  /* width: 232px;
  height: 300px; */
}

.image-container {
  position: relative;
}

.thumbnail {
  composes: mb8 cursorPointer from global;
  height: auto;
  width: 170px;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: auto;
  transform: translate(-50%, -50%);
  transition: height 0.2s ease-out;
}

.thumbnail:hover~.play-icon,
.play-icon:hover {
  height: 55px;
}

.movie-name {
  composes: fontColorLight fontSize12 from global;
  max-width: 170px;
  word-break: break-all;
}