.container {
  composes: mLRAuto from global;
  padding-top: 50px;
  min-height: calc(100vh - 50px);
  padding: 8px 24px;
  position: relative;
  max-width: 1140px;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}