* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333;
}

p {
  margin: 0;
}

h3 {
  margin: 0;
}

.fontBold {
  font-weight: bold;
}

.fontColorLight {
  color: #c7c5c5;
}

.fontColorWhite {
  color: white;
}

.fontColorGreen {
  color: #488a48;
}

.fontColorAmber {
  color: #dbac12
}

.fontColorRed {
  color: #cf3303
}


.fontSize12 {
  font-size: 12px;
}

.fontSize14 {
  font-size: 14px;
}

.fontSize16 {
  font-size: 16px;
}

.fontSize18 {
  font-size: 18px;
}

.p4 {
  padding: 4px;
}

.p16 {
  padding: 16px;
}

.pl24 {
  padding-left: 24px;
}

.pr24 {
  padding-right: 24px;
}

.mLRAuto {
  margin-left: auto;
  margin-right: auto;
}

.mr8 {
  margin-right: 8px;
}

.mr16 {
  margin-right: 16px;
}

.mr24 {
  margin-right: 16px;
}


.mb8 {
  margin-bottom: 8px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb24 {
  margin-bottom: 24px;
}

.flexApart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inlineBlock {
  display: inline-block;
}

.cursorPointer {
  cursor: pointer;
}

.textCapitalize {
  text-transform: capitalize;
}

.textAlignCenter {
  text-align: center;
}

.animationFadein {
  animation: 0.5s ease-out forwards fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}